.amenitiesHeading {
  font-weight: 600 !important;
  font-family: "Varela Round", sans-serif !important;
}

.cardAmenities {
  margin: 10px 0px !important;
  padding: 5px 0px !important;
}

.amenitieslistheading {
  color: #665980 !important;
  font-family: "Varela Round", sans-serif !important;
}

.amenitieslistAvailability {
  font-weight: 800 !important;
  font-family: "Varela Round", sans-serif !important;
  font-size: 25px !important;
  color: #211047 !important;
}
