.descriptionHeading {
  font-weight: 600 !important;
  font-family: "Varela Round", sans-serif !important;
  font-size: 25px !important;
}

.descriptionBody {
  font-family: "Varela Round", sans-serif !important;
  font-size: 17px !important;
  line-height: 1.8 !important;
  word-spacing: 2px !important;
  padding: 10px 0px !important;
}
