.popularServicesHeading {
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px !important;
  padding-top: 20px !important;
}

.PopularPropertiesFullStyle {
  background-color: #f7f7f7 !important;
}
