.headerCenter {
  text-align: center;
}

.heading1 {
  color: rgb(65, 63, 63) !important;
  font-size: 21px !important;
  transform: scaleX(1.1) !important;
  padding-top: 30px !important;
}
.heading2 {
  color: #259ac4 !important;
  font-size: 30px !important;
  font-weight: 600 !important;
  transform: scaleX(1.1) !important;
}

.divider {
  margin: 5px auto 30px !important;
  width: 50px !important;
  border-top: 6px solid rgb(117, 114, 114) !important;
  border-radius: 5px !important;
}
